<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Chat Health</title>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="/css/bootstrap.min.css">


</head>
<body>
<div class="container scroll-container" style="width: 760px;">
    <h1>사업자 회원가입</h1>
    <form method="post" action="/auth/ent-join" th:action="@{/auth/entjoin}" id="registrationForm" enctype="multipart/form-data">
        <!-- 이메일 -->
        <div class="mb-3">
            <div class="d-flex flex-row">
                <label for="inputEmail" class="form-label">이메일</label><p style="color: red;">*</p>
                <button type="button" id="confirmEmail" class="btn btn-outline-primary btn-sm">이메일 중복확인</button>
            </div>
            <input type="email" id="inputEmail" class="form-control" name="email" required>
            <span id="isConfirmed"></span>
        </div>

        <!-- 비밀번호 -->
        <div class="mb-5">
            <div class="d-flex flex-row">
                <label for="inputPw" class="form-label">비밀번호</label><p style="color: red;">*</p></div>
            <input type="password" id="inputPw" class="form-control" aria-describedby="passwordHelp" name="pw" required>
            <div id="passwordHelp" class="form-text">
                비밀번호는 8~15자리이고 영문, 숫자, 특수문자([!@#$%^*+=-)를 포함해야 합니다.
            </div>
        </div>

        <div class="mb-3">
            <div class="d-flex flex-row">
                <label for="checkPw" class="form-label">비밀번호 확인</label><p style="color: red;">*</p></div>
            <input type="password" id="checkPw" class="form-control" required>
            <span id="confirmPw"></span>
        </div>

        <!-- 상호명 -->
        <div class="mb-3">
            <div class="d-flex flex-row">
                <label for="inputCompany" class="form-label">상호명</label><p style="color: red;">*</p></div>
            <input type="text" id="inputCompany" class="form-control" name="company" required>
        </div>

        <!-- 사업자등록번호 -->
        <div class="mb-3">
            <div class="d-flex flex-row">
                <label for="inputEntNo" class="form-label">사업자등록번호</label><p style="color: red;">*</p></div>
            <input type="text" id="inputEntNo" class="form-control" name="entNo" required>
        </div>

        <!-- 대표자명 -->
        <div class="mb-3">
            <div class="d-flex flex-row">
                <label for="inputCeo" class="form-label">대표자명</label><p style="color: red;">*</p>
            </div>
            <input type="text" id="inputCeo" class="form-control" name="ceo" required>
            <span id="confirmCeo"></span>
        </div>

        <!-- 사업자 등록일 -->
        <div class="mb-5">
            <div class="d-flex flex-row">
                <label for="birth" class="form-label">개업 연월일</label><p style="color: red;">*</p></div>
            <input type="text" id="birth" class="form-control" placeholder="2010-06-17" name="birth" required>
        </div>

        <!-- 주소 -->
        <div class="mb-3">
            <div class="d-flex flex-row">
                <label class="form-label">주소</label></br><p style="color: red;">*</p></div>
            <input type="text" id="sample4_postcode" placeholder="우편번호" name="postcode">
            <input type="button" class=" btn btn-sm btn-outline-primary" onclick="sample4_execDaumPostcode()"
                   value="우편번호 찾기"><br>
            <input type="text" id="sample4_roadAddress" placeholder="도로명주소" name="frontAddress" required>
            <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
            <span id="guide" style="color: #999;" type="hidden"></span></br>
            <input type="text" id="sample4_detailAddress" placeholder="상세주소" name="addressDetail">
            <input type="text" class="hidden" id="sample4_extraAddress" placeholder="참고항목">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">프로필 사진</label>
            <input class="form-control" type="file" id="formFile" placeholder="png,jpg" accept="image/gif, image/jpeg, image/png" name="profile">
        </div>
        <div class="preview-box">
            <img src="" id="preview">
        </div>

        <button class="btn btn-outline-primary" id="submitBtn">join</button>
    </form>

</div>
</body>

<!-- email 중복확인 -->
<script>
    $('#confirmEmail').on('click', function(e) {
        e.preventDefault();
      if ($("#inputEmail").val().trim() === "") {
         alert("이메일은 반드시 입력해야합니다.");
         $("#inputEmail").val('');
         $("#inputEmail").focus();
         return false;
      }
        $.ajax({
            url:'/auth/confirmEmail', //Controller에서 요청 받을 주소
            method:"POST", //POST 방식으로 전달
            data:{"email" : $("#inputEmail").val()},
            success:function(response){ //컨트롤러에서 넘어온 cnt값을 받는다
                console.log(response);
                if(response.isCount == 0){ //count가 0이면 -> 사용 가능한 아이디
                    $("#isConfirmed").text("사용 가능한 이메일입니다.").css('color', 'green')
                    $("#isConfirmed").addClass("yes");
                } else { // count가 0이 아닌 경우 -> 이미 존재하는 아이디
                    $("#isConfirmed").text("이미 사용중인 이메일입니다. 다시 입력해주세요.").css('color', 'red')
                    $('#inputEmail').val('');
                    $('#inputEmail').focus;
                }
            },
            error:function(){
                alert("알수 없는 오류가 발생했습니다. 관리자에게 문의해주시기 바랍니다.");
            }
        });
        });
</script>
<!-- 비밀번호 영문 숫자 특수문자 검증-->
<script>
    $(document).ready(function () {
        var passwordInput = $('#inputPw');
        var passwordHelp = $('#passwordHelp');
        var validationInterval;

        passwordInput.on('keyup', function () {
            clearInterval(validationInterval); // 키 입력이 있을 때마다 기존 타이머 해제
            validationInterval = setInterval(validatePassword, 1000); // 2초마다 검증 실행
        });

        function validatePassword() {
            var password = passwordInput.val();
            var regex = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;

            if (regex.test(password)) {
                passwordHelp.text('사용가능한 비밀번호입니다.').removeClass('text-danger').addClass('text-success');
                passwordHelp.addClass("yes");
            } else {
                passwordHelp.text('비밀번호는 8~15자리이고 영문, 숫자, 특수문자를 포함해야 합니다.').removeClass('text-success').addClass('text-danger');
            }
        }
    });
</script>
<!-- 비밀번호 일치여부 확인 및 폼 전송 제어 -->
<script>
    $(document).ready(function () {
    var inputPw = $('#inputPw');
    var checkPw = $('#checkPw');
    var confirmPw = $('#confirmPw');
    var validationInterval;

    // 초기화
    checkPasswordMatch();

    inputPw.on('keyup', function () {
        clearInterval(validationInterval);
        validationInterval = setInterval(checkPasswordMatch, 1000);
    });

    checkPw.on('keyup', function () {
        clearInterval(validationInterval);
        validationInterval = setInterval(checkPasswordMatch, 1000);
    });

    function checkPasswordMatch() {
        var checkPwValue = checkPw.val();

        if (!checkPwValue) {
            // #checkPw 입력란이 비어있을 때
            confirmPw.text(""); // 빈 문자열로 설정
            return;
        }

        if (inputPw.val() === checkPwValue) {
            // 비밀번호 일치
            confirmPw.text("비밀번호가 일치합니다.").css('color', 'green');
            confirmPw.addClass("yes");
        } else {
            // 비밀번호 불일치 시 사용자 정의 유효성 메시지 설정
            confirmPw.text("비밀번호가 일치하지 않습니다.").css('color', 'red');
            confirmPw.removeClass("yes");
        }
    }

        // submit 버튼 클릭 이벤트
        $("#submitBtn").on('click', function (event) {
            if (!$("#isConfirmed").hasClass("yes")) {
                // 이메일 중복확인을 진행하지 않은 경우
                event.preventDefault();
                alert("이메일 중복확인을 진행해주세요.");
            } else if (!$("#confirmPw").hasClass("yes")) {
                // 비밀번호가 일치하지 않는 경우
                event.preventDefault();
                alert("비밀번호가 일치하지 않습니다.");
            }
            // 이메일 중복확인을 완료하고 비밀번호가 일치하는 경우, 폼을 전송
            // (위의 두 경우가 모두 아닌 경우에만 폼이 전송됨)
        });
    });
</script>
<!-- 이미지 파일 거르기 & 미리보기 -->
<script>
    $("#formFile").on("change", function (e) {
        const formFile = e.target.files[0];
        if (!formFile.type.match("image.*")) {
            alert("이미지 파일만 가능합니다.");
            return false;
        }
        let fileReader = new FileReader();
        fileReader.onload=function(e) {
            $("#preview").attr("src",e.target.result);
        }
        fileReader.readAsDataURL(formFile);
    });
</script>
<!-- Date Picker 스크립트 -->
<script>
    $(function() {
        //input을 datepicker로 선언
        $("#birth").datepicker({
            dateFormat: 'yy-mm-dd' //달력 날짜 형태
            ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
            ,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
            ,changeYear: true //option값 년 선택 가능
            ,changeMonth: true //option값  월 선택 가능
            ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시
            ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
            ,buttonImageOnly: true //버튼 이미지만 깔끔하게 보이게함
            ,buttonText: "선택" //버튼 호버 텍스트
            ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
            ,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
            ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
            ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
            ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
            ,minDate: "-100Y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
            ,maxDate: "+0D" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
        });

        //초기값을 오늘 날짜로 설정해줘야 합니다.
        $('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
    });
</script>
<!-- 우편번호 및 주소 스크립트 -->
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</html>