<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" class="main">
    <div class="container mt-5">

        <div class="text-end">
            <th:block th:unless="${room.representative}">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmQuitModal"
                        data-action="exit">나가기
                </button>
            </th:block>
            <th:block th:if="${room.representative}">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                        data-action="delete">삭제
                </button>
            </th:block>
        </div>

        <div class="card">
            <div class="card-header">
                <img th:src="${room.image} != null ? @{|/chat/${room.image}|} : @{/img/logo.png}" alt="image"
                     class="img-fluid rounded-circle mr-3" style="width: 30px; height: 30px;"/>
                <span th:text="${room.name}">채팅방 이름</span><span class="badge bg-secondary"
                                                                th:text="${room.userCount} + ' members'"></span>
            </div>
            <div class="card-body" id="chatMessages" style="height: 500px; overflow-y: auto;">
                <!-- 채팅 메시지들이 여기에 동적으로 표시됩니다. -->
            </div>
        </div>
        <div class="message-input-container">
            <input type="text" id="messageInput" class="form-control" placeholder="메시지 입력">
            <button id="sendMessageButton" class="btn btn-primary send-message-btn"><i class="fas fa-paper-plane"></i>
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmQuitModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">채팅방 나가기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modalText">채팅방에서 나간 후 재입장시 기존 내 메세지는 다른 사람의 메세지로 취급합니다. 정말 나가시겠습니까?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="quitChatRoom">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">채팅방 삭제</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modalText">채팅방을 삭제하면 기존 대화 목록은 복구 불가능합니다. 정말 삭제하시겠습니까?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="deleteChatRoom">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        //로그인한 사용자의 이메일
        const userEmail = [[${#authentication.principal.username}]];
        /* SockJS와 STOMP 클라이언트 초기화 */
        let socket = new SockJS('/chatting');
        let stompClient = Stomp.over(socket);
        const roomId = [[${room.id}]]

        //현재 사용자의 senderId
        const senderId = [[${room.senderId}]];

        let currentPage = 0; // 현재 페이지 번호
        let isLoading = false; // 데이터 로드 중인지 여부
        let isLastPage = false; // 마지막 페이지인지 여부
        let newMessage = true;

        //로그 비활성화
        stompClient.debug = null;

        stompClient.connect({}, function (frame) {
            // 구독 설정
            stompClient.subscribe('/sub/chat/' + roomId, function (message) {
                let messageBody = JSON.parse(message.body);
                displayMessage(messageBody.nickname, messageBody.message, messageBody.timestamp, messageBody.senderId === senderId, messageBody.type);
            });
        });

        // 초기 채팅 메시지 로드
        loadMessages();

        // 엔터쳤을 때도 전송
        $('#messageInput').keypress(function (e) {
            if (e.keyCode === 13) {
                $('#sendMessageButton').click();
            }
        });

        // 스크롤 이벤트 감지
        $('#chatMessages').scroll(function () {
            if ($(this).scrollTop() === 0 && !isLoading && !isLastPage) {
                loadMessages();
            }
        });

        function loadMessages() {

            let oldScrollHeight = $('#chatMessages')[0].scrollHeight;

            if (isLoading || isLastPage) {
                return;
            }
            isLoading = true;
            $.ajax({
                url: `/chat/room/${roomId}?page=${currentPage}`,
                type: 'GET',
                success: function (response) {
                    newMessage = false;
                    // 마지막 페이지 여부 확인
                    isLastPage = response.last;
                    // 페이지 번호 증가
                    currentPage++;
                    // 메시지를 역순으로 반복하여 추가
                    response.content.forEach(message => {
                        displayMessage(message.nickname, message.message, message.timestamp, message.senderId === senderId, message.type);
                    });
                    newMessage = true;

                    // 새로운 메시지로 인해 변경된 스크롤 높이 계산
                    let newScrollHeight = $('#chatMessages')[0].scrollHeight;

                    // 새로운 메시지가 있을 경우 스크롤 위치 유지
                    $('#chatMessages').scrollTop(newScrollHeight - oldScrollHeight);
                },
                error: function (error) {
                    toastr.error('채팅 메시지를 불러오는 중 오류가 발생했습니다.');
                },
                complete: function () {
                    isLoading = false;
                }
            });
        }


        document.getElementById('sendMessageButton').addEventListener('click', function () {
            let messageContent = document.getElementById('messageInput').value.trim();
            if (messageContent.trim() === '' || messageContent.length > 1000) {
                toastr.error('메시지를 입력해주세요. (최대 1000자)');
                $('#messageInput').focus();
                return;
            }
            if (messageContent && stompClient) {
                let chatMessage = {
                    roomId: roomId,
                    content: messageContent,
                    type: 'TALK',
                    senderEmail: userEmail,
                    senderId: senderId
                };
                stompClient.send("/pub/chat/message", {}, JSON.stringify(chatMessage));
                document.getElementById('messageInput').value = '';
            }
        });

        function displayMessage(nickname, message, timestamp, isMine, type) {
            switch (type) {
                case 'TALK':
                    let messageBox = $('<div></div>').addClass('message-box');
                    let messageElement = $('<span></span>').addClass('message-content');
                    let nicknameElement = $('<span></span>').addClass('nickname').text(nickname);
                    let timestampElement = $('<span class="format-date"></span>').addClass('timestamp');

                    messageElement.text(message);
                    nicknameElement.text(nickname);
                    timestampElement.text(timestamp);

                    if (isMine) {
                        messageBox.addClass('my-message-box');
                        messageElement.addClass('my-message');
                    } else {
                        messageBox.addClass('other-message-box');
                        messageElement.addClass('other-message');
                    }

                    messageBox.append(nicknameElement);
                    messageBox.append(messageElement);
                    messageBox.append(timestampElement);
                    if (newMessage) {
                        $('#chatMessages').append(messageBox);
                    } else {
                        $('#chatMessages').prepend(messageBox);
                    }
                    break;
                case 'ENTER':
                    let enterMessage = $('<div></div>').addClass('enter-message').text(nickname + message);
                    let enterTime = $('<div class="format-date"></div>').text(timestamp).addClass('timestamp-enter');
                    if(newMessage){
                        $('#chatMessages').append(enterMessage);
                        $('#chatMessages').append(enterTime);
                    }else {
                        $('#chatMessages').prepend(enterTime);
                        $('#chatMessages').prepend(enterMessage);
                    }
                    break;
                case 'QUIT':
                    let quitMessage = $('<div></div>').addClass('quit-message').text(nickname + message);
                    let quitTime = $('<div class="format-date"></div>').text(timestamp).addClass('timestamp-quit');
                    if(newMessage){
                        $('#chatMessages').append(quitMessage);
                        $('#chatMessages').append(quitTime);
                    }else {
                        $('#chatMessages').prepend(quitTime);
                        $('#chatMessages').prepend(quitMessage);
                    }
                    break;
            }
            setTimeZoneAndFormat();

            $('#chatMessages').scrollTop($('#chatMessages')[0].scrollHeight);
        }

        //채팅방 나가기
        $('#quitChatRoom').click(function () {
            if (stompClient) {
                let chatMessage = {
                    roomId: roomId,
                    type: 'QUIT',
                    senderEmail: userEmail,
                    senderId: senderId
                };
                stompClient.send("/pub/chat/message", {}, JSON.stringify(chatMessage));
            }
            $.ajax({
                url: `/chat/room/${roomId}`,
                type: 'DELETE',
                success: function (response) {
                    toastr.success('채팅방에서 나왔습니다.');
                    window.location.href = '/chat';
                },
                error: function (error) {
                    toastr.error('채팅방 나가기 중 오류가 발생했습니다.');
                }
            })
        })

        //채팅방 삭제
        $('#deleteChatRoom').click(function () {
            $.ajax({
                url: `/chat/${roomId}`,
                type: 'DELETE',
                success: function (response) {
                    toastr.success('채팅방을 삭제했습니다.');
                    window.location.href = '/chat';
                },
                error: function (error) {
                    toastr.error('채팅방 삭제 중 오류가 발생했습니다.');
                }
            })
        })
    </script>
</div>

</html>
