<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content" class="main">
    <div class="container">
        <style>
            .category-list {
                list-style-type: none; /* 점 제거 */
                padding: 0; /* 기본 패딩 제거 */
                display: flex; /* 가로로 배치 */
                justify-content: flex-start; /* 항목을 왼쪽에 정렬 */
                margin-bottom: 10px; /* 아래쪽 여백 추가 */
            }
            .category-list li {
                margin-right: 10px; /* 오른쪽 여백 추가 */
                text-align: center; /* 텍스트 중앙 정렬 */
            }
            .checked {
                transform: scale(1.2); /* 기본 크기를 20% 더 크게 */
            }
            .badge:hover {
                transform: scale(1.2); /* 마우스를 올렸을 때 20% 더 크게 */
                transition: transform 0.3s ease-in-out; /* 부드러운 전환 효과 */
            }

        </style>
        <div>
            <ul class="category-list">
                <li><a href="/board"><span class="badge bg-black" th:classappend="${pageResponse.category == null ? 'checked' : ''}">전체</span></a></li>
                <li><a href="/board?category=NOTICE"><span class="badge bg-primary" th:classappend="${pageResponse.category != null and pageResponse.category.name() == 'NOTICE' ? 'checked' : ''}">공지</span></a></li>
                <li><a href="/board?category=NEWS"><span class="badge bg-secondary" th:classappend="${pageResponse.category != null and pageResponse.category.name() == 'NEWS' ? 'checked' : ''}">뉴스</span></a></li>
                <li><a href="/board?category=INFO"><span class="badge bg-info" th:classappend="${pageResponse.category != null and pageResponse.category.name() == 'INFO' ? 'checked' : ''}">정보</span></a></li>
                <li><a href="/board?category=TIP"><span class="badge bg-warning" th:classappend="${pageResponse.category != null and pageResponse.category.name() == 'TIP' ? 'checked' : ''}">팁</span></a></li>
                <li><a href="/board?category=QNA"><span class="badge bg-success" th:classappend="${pageResponse.category != null and pageResponse.category.name() == 'QNA' ? 'checked' : ''}">질문</span></a></li>
                <li><a href="/board?category=FREE"><span class="badge bg-danger" th:classappend="${pageResponse.category != null and pageResponse.category.name() == 'FREE' ? 'checked' : ''}">잡담</span></a></li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="searchForm" class="input-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">제목+내용</button>
                    <input type="text" id="searchInput" class="form-control" placeholder="검색어를 입력하세요">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" data-search-type="titleContent">제목+내용</a></li>
                        <li><a class="dropdown-item" href="#" data-search-type="title">제목</a></li>
                        <li><a class="dropdown-item" href="#" data-search-type="content">내용</a></li>
                        <li><a class="dropdown-item" href="#" data-search-type="author">작성자</a></li>
                    </ul>
                    <button class="btn btn-outline-primary" type="submit">검색</button>
                </form>
            </div>
        </div>
        <table class="table">
            <th:block th:if="${boards.size() ne 0}">
                <thead id="list">
                <tr>
                    <th scope="col">분류</th>
                    <th scope="col">제목(댓글)</th>
                    <th scope="col">작성일</th>
                    <th scope="col">작성자</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${boards}">
                    <td>
                        <a th:href="@{/board(category=${item.category?.name()},page=0)}">
                        <span th:switch="${item.category?.name()}">
                            <span th:case="'INFO'">
                                <span class="badge bg-info">정보</span>
                            </span>
                            <span th:case="'TIP'">
                                <span class="badge bg-warning">팁</span>
                            </span>
                            <span th:case="'QNA'">
                                <span class="badge bg-success">질문</span>
                            </span>
                            <span th:case="'FREE'">
                                <span class="badge bg-danger">잡담</span>
                            </span>
                            <span th:case="'NEWS'">
                                <span class="badge bg-secondary">뉴스</span>
                            </span>
                            <span th:case="'NOTICE'">
                                <span class="badge bg-primary">공지</span>
                            </span>
                            <span th:case="*">
                                <span class="badge bg-black">기타</span>
                            </span>
                        </span>
                        </a>
                    </td>
                    <td><a th:href="@{/board/{id}(id=${item.boardId})}" th:text="|${item.title}(${item.commentCount})|"
                           style="text-decoration: none; color: inherit">제목</a></td>
                    <td th:text="${item.createdDate}" class="format-date"></td>
                    <td>
                        <div class="user-name">
                        <span th:switch="${item.grade?.name()}">
                            <i th:case="'BRONZE'" class="fa fa-medal text-bronze"></i>
                            <i th:case="'BLACK'" class="fa fa-medal text-black"></i>
                            <i th:case="'SILVER'" class="fa fa-medal text-silver"></i>
                            <i th:case="'GOLD'" class="fa fa-medal text-gold"></i>
                            <i th:case="'PLATINUM'" class="fa fa-medal text-platinum"></i>
                            <i th:case="'DIAMOND'" class="fa fa-medal text-diamond"></i>
                            <i th:case="null" class="fa fa-medal text-black"></i> <!-- null 처리 -->
                        </span>
                            <span onclick="toggleContextMenu(event)" style="cursor: pointer"
                                  th:text="${item.nickname != null ? item.nickname : item.name}">사용자 이름</span>
                            <div class="context-menu">
                                <a href="#" class="send-message-link" th:data-member-id="${item.memberId}" th:data-member-name="${item.nickname != null ? item.nickname : item.name}">쪽지 보내기</a>
                                <a th:href="@{/member/user/{id}(id=${item.memberId})}">유저 정보 보기</a>
                            </div>
                        </div>
                    </td>
                    <td th:text="${item.hit}"></td>
                </tr>
                </tbody>
            </th:block>
            <th:block th:if="${boards.size() eq 0}">
                <div class="col-4">
                    <p class="card-text">게시글이 없습니다.</p>
                </div>
            </th:block>
        </table>
        <nav th:if="${boards.size() ne 0}" aria-label="Page navigation example" class="justify-content-center">
            <ul class="pagination">
                <li class="page-item" th:class="${pageResponse.currentPage == 0} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/board(page=0, category=${pageResponse.category != null ? pageResponse.category.name() : null}, title=${pageResponse.title}, content=${pageResponse.content})}" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!-- 이전 페이지 버튼 -->
                <li class="page-item" th:class="${pageResponse.currentPage < 10} ? 'disabled' : ''">
                    <a class="page-link"
                       th:href="${pageResponse.currentPage >= 10} ? @{/board(page=${(pageResponse.startPage - 1) - 10}, category=${pageResponse.category != null ? pageResponse.category.name() : null}, title=${pageResponse.title}, content=${pageResponse.content})} : '#'"
                       aria-label="Previous">
                        &lsaquo;
                    </a>
                </li>

                <!-- 페이지 번호 -->
                <li th:each="page : ${#numbers.sequence(pageResponse.startPage, pageResponse.endPage)}"
                    th:class="${page - 1 == pageResponse.currentPage} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/board(page=${page - 1}, category=${pageResponse.category != null ? pageResponse.category.name() : null}, title=${pageResponse.title}, content=${pageResponse.content})}" th:text="${page}"></a>
                </li>

                <!-- 다음 페이지 버튼 -->
                <li class="page-item" th:class="${pageResponse.endPage >= pageResponse.totalPages} ? 'disabled' : ''">
                    <a class="page-link"
                       th:href="${pageResponse.endPage < pageResponse.totalPages} ? @{/board(page=${pageResponse.endPage}, category=${pageResponse.category != null ? pageResponse.category.name() : null}, title=${pageResponse.title}, content=${pageResponse.content})} : '#'"
                       aria-label="Next">
                        &rsaquo;
                    </a>
                </li>
                <li class="page-item"
                    th:class="${pageResponse.currentPage == pageResponse.totalPages - 1} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/board(page=${pageResponse.totalPages - 1}, category=${pageResponse.category != null ? pageResponse.category.name() : null}, title=${pageResponse.title}, content=${pageResponse.content})}" aria-label="Last">
                        &raquo;
                    </a>
                </li>
            </ul>
        </nav>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end"
             sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
            <a href="/board/write" class="btn btn-primary me-md-2" type="button">글쓰기</a>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $.ajax({
                url: "/board/api/recent",
                type: "GET",
                data: {
                    "category": "NOTICE"
                },
                success: function (response) {
                    let html = "";
                    $.each(response, function (idx, item) {
                        // if(idx>0){
                        html += '<tr class="notice">';
                        // }
                        html += '<td><a href="/board?category=NOTICE&page=0"><span class="badge bg-primary">공지</span></a> </td>';
                        html += `<td>
                        <a href="/board/${item.boardId}">

                            <span>${item.title}</span>
                        </a></td>`;
                        html += '<td>' + item.createdDate + '</td>';
                        html += '<td>관리자</td>';
                        html += '<td>' + item.hit + '</td>';
                        html += '</tr>'
                    });
                    $("#list").append(html);
                },
                error: function (response) {
                    toastr.error('공지사항을 불러오는데 실패했습니다.');
                }
            });
            $.ajax({
                url: "/board/api/recent",
                type: "GET",
                data: {
                    "category": "NEWS"
                },
                success: function (response) {
                    let html = "";
                    $.each(response, function (idx, item) {
                        // if(idx>0){
                        html += '<tr class="news-list">';
                        // }
                        html += '<td><a href="/board?category=NEWS&page=0"><span class="badge bg-secondary">뉴스</span></a> </td>';
                        html += `<td>
                        <a href="/board/${item.boardId}">

                            <span>${item.title}</span>
                        </a></td>`;
                        html += '<td>' + item.createdDate + '</td>';
                        html += '<td>관리자</td>';
                        html += '<td>' + item.hit + '</td>';
                        html += '</tr>'
                    });
                    $("#list").append(html);
                },
                error: function (response) {
                    toastr.error('뉴스를 불러오는데 실패했습니다.');
                }
            });
        })

        function toggleContextMenu(event) {
            contextClose();
            event.stopPropagation();
            let contextMenu = event.currentTarget.nextElementSibling;
            contextMenu.style.display = contextMenu.style.display === 'block' ? 'none' : 'block';
        }

        function contextClose() {
            const contextMenus = document.querySelectorAll('.context-menu');
            contextMenus.forEach(function (menu) {
                menu.style.display = 'none';
            });
        }

        // 페이지의 다른 곳을 클릭하면 메뉴 닫기
        window.onclick = function (event) {
            contextClose();
        }

        let searchType = 'titleContent';

        document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', function(e) {
                e.preventDefault();
                searchType = this.getAttribute('data-search-type');
                document.getElementById('dropdownMenuButton').textContent = this.textContent;
            });
        });

        document.getElementById('searchForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const searchInput = document.getElementById('searchInput').value.trim();
            if (searchInput) {
                let query = '';
                switch(searchType) {
                    case 'titleContent':
                        query = `?title=${searchInput}&content=${searchInput}`;
                        break;
                    case 'title':
                        query = `?title=${searchInput}`;
                        break;
                    case 'content':
                        query = `?content=${searchInput}`;
                        break;
                    case 'author':
                        query = `?writer=${searchInput}`;
                        break;
                }

                const category = [[${pageResponse.category != null ? pageResponse.category.name() : null}]];
                if (category) {
                    query += `&category=${category}`;
                }
                window.location.href = '/board' + query ;
            }
            else {
                sendWarnMessage('검색어를 입력해 주세요.');
            }
        });
    </script>
</div>
</html>