<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content" class="main mp-main d-flex justify-content-center">
    <div class="container d-flex justify-content-center row mt-5">
        <!--  사이드 바 -->
        <div class="mp-sidebar col-md-3 ms-md-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                    <button id="editbtn" class="btn edit-profile">
                        <img th:src="@{|/profile/${entInfo.profile}|}" alt="프로필사진" id="profile" style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; object-fit: cover;"></br>
                        <p>프로필 수정</p>
                    </button>
                </li>
                <li th:text="|안녕하세요, ${entInfo.company}님|" class="list-group-item">상호명 안들어왔당</li>
            </ul>
            <span style="border-top: 1px solid #ccc; display: block; margin: 10px 13px;"></span>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action"><button class="btn">내 정보</button></li>
                <li class="list-group-item list-group-item-action"><button class="btn">내 상품</button></li>
                <li class="list-group-item list-group-item-action"><button class="btn">비밀번호 변경</button></li>
                <li class="list-group-item list-group-item-action"><button class="btn">회원 탈퇴</button></li>
            </ul>
            <!-- 프로필사진 변경 모달 -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="exampleModalLabel">프로필 사진 변경하기</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="changeProfileForm" enctype="multipart/form-data">
                                <img th:src="@{|/profile/${entInfo.profile}|}" alt="프로필사진" id="preview" style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; object-fit: cover;" onerror="this.src='/img/basic_user.png'">
                                <input type="file" class="form-control-file" id="changeProfile"
                                       name="changeProfile" accept="image/*" />
                                <input type="hidden" name="id" th:value="${entInfo.id}">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소하기</button>
                            <button type="button" id="saveProfileBtn" class="btn btn-primary btn-sm">변경하기</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--  컨텐츠 -->
        <div class="mp-content col-md-6 ms-md-auto">

        </div>
    </div>

    <!-- 프로필사진 변경 스크립트 -->
    <script th:inline="javascript">
        const id = [[${entInfo.id}]];
        $('#editbtn').click(function (e) {
            e.preventDefault();
            console.log("버튼은 눌림");
            $('#editModal').modal("show");
        });

        $('#close').click(function (e) {
            e.preventDefault();
            $('#editModal').modal("hide");
        });
        $("#changeProfile").on("change", function (e) {
            const changeProfile = e.target.files[0];
            if (!changeProfile.type.match("image.*")) {
                alert("이미지 파일만 가능합니다.");
                return false;
            }

            let fileReader = new FileReader();
            fileReader.onload = function (e) {
                $("#preview").attr("src", e.target.result);
            };
            fileReader.readAsDataURL(changeProfile);
        });

        // "저장" 버튼 클릭 시에 Ajax 호출
        $('#saveProfileBtn').on("click",function (e) {
            e.preventDefault();

            const profileForm = $("#changeProfileForm")[0];
            const formData = new FormData(profileForm);
            $.ajax({
                url: `/member/user/${id}`, // Controller에서 요청 받을 주소
                method: "PATCH", // PATCH 방식으로 전달
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) { // 컨트롤러에서 넘어온 값을 받는다
                    if (response.isUpdated === "isUpdated") { // 1 이면 -> 성공
                        $('#editModal').modal("hide");
                    } else { // 0이면 -> 실패
                        alert("프로필 변경 실패~~");
                    }
                },
                error: function () {
                    alert("프로필 변경 실패~~");
                }
            });
        });
    </script>

</div>
</html>