<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content" class="main mp-main d-flex justify-content-center">
    <div class="container d-flex justify-content-center row mt-5">
        <!--  고정 사이드 바 -->
        <div class="mp-sidebar col-md-3 ms-md-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                    <button id="editprofilebtn" class="btn edit-profile">
                        <img th:src="@{|/profile/${userInfo.profile}|}" alt="프로필사진" id="profile" style="width: 130px; height: 130px; border-radius: 50%; overflow: hidden; object-fit: cover;" onerror="this.src='/img/basic_user.png'"></br>
                        <p>프로필 수정</p>
                    </button>
                </li>
                <li th:text="|안녕하세요, [ ${userInfo.nickname} ]님|" class="list-group-item">닉네임 안들어왔당</li>
            </ul>
            <span style="border-top: 1px solid #ccc; display: block; margin: 10px 13px;"></span>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action"><button type="button" class="btn" id="myinfoBtn">내 정보</button></li>
                <li class="list-group-item list-group-item-action"><button type="button" class="btn" id="postlikeBtn">관심 상품</button></li>
                <li class="list-group-item list-group-item-action"><button type="button" class="btn" id="myreviewBtn">내 리뷰</button></li>
                <li class="list-group-item list-group-item-action"><button type="button" class="btn" id="changepwBtn">비밀번호 변경</button></li>
                <li class="list-group-item list-group-item-action"><button type="button" class="btn" id="withdrawBtn">회원 탈퇴</button></li>
            </ul>
            <!-- 프로필사진 변경 모달 -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="exampleModalLabel">프로필 사진 변경하기</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="changeProfileForm" enctype="multipart/form-data">
                                <img th:src="@{|/profile/${userInfo.profile}|}" alt="프로필사진" id="preview"
                                     style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; object-fit: cover;"
                                     onerror="this.src='/img/basic_user.png'">
                                <input type="file" class="form-control-file" id="changeProfile"
                                       name="changeProfile" accept="image/*"/>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소하기</button>
                            <button type="button" id="saveProfileBtn" class="btn btn-primary btn-sm">변경하기</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--  컨텐츠 -->
        <div class="mp-content col-md-7 ms-md-auto" id="mp-content">

        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {


            $('#myinfoBtn').click();
            //내정보 버튼
            $('#myinfoBtn').click(function () {
                displayUserInfo([[${userInfo}]]);
            });
            $('#myinfoBtn').click();

            function displayUserInfo(userInfo) {
                const id = [[${userInfo.id}]];
                const email = [[${userInfo.email}]];
                let address = [[${userInfo.address}]];
                let nickname = [[${userInfo.nickname}]];
                if (nickname === null) {
                    nickname = "";
                }
                let name = [[${userInfo.name}]];
                let birth = [[${userInfo.birth}]];
                if (birth === null) {
                    birth = "";
                }
                const container = $('<div>').addClass('user-info-container');
                container.append('<h2 class="mb-4" style="color:#198754;"><b>내 정보</b></h2>');

                const table = $('<table>').addClass('table');


                table.append('<tr><th style="color:#198754;">별명</th><td id="#originalNickname">' + nickname + '</td></tr>');
                table.append('<tr><th style="color:#198754;">이름</th><td>' + name + '</td></tr>');
                table.append('<tr><th style="color:#198754;">이메일(아이디)</th><td>' + email + '</td></tr>');
                if (address === null) {
                    table.append('<tr><th style="color:#198754;">주소</th><td id="#originalAddress"></td></tr>');
                    table.append('<tr><th style="color:#198754;">상세 주소</th><td id="#originalAddressDetail"></td></tr>');
                } else {
                    table.append('<tr><th style="color:#198754;">주소</th><td id="#originalAddress">' + address.address + '</td></tr>');
                    table.append('<tr><th style="color:#198754;">상세 주소</th><td id="#originalAddressDetail">' + address.addressDetail + '</td></tr>');
                }
                table.append('<tr><th style="color:#198754;">생년월일</th><td>' + birth + '</td></tr>');

                container.append(table);
                container.append("<button class='btn btn-success' id='updateInfoBtn'>정보 수정</button>");

                $('#mp-content').empty();
                $('#mp-content').html(container);

                $('#updateInfoBtn').on("click", function () {
                    const originalNickname = nickname;

                    let originalAddress;
                    let originalAddressDetail;

                    if (address === null) {
                        originalAddress = "";
                        originalAddressDetail = "";
                    } else {
                        originalAddress = address.address;
                        originalAddressDetail = address.addressDetail;
                    }

                    $('#mp-content').empty();
                    const container = $('<div>').addClass('user-update-container');
                    const table = $('<table>').addClass('table')
                    table.append(`<tr><th style="color:#198754;">별명</th><td><input type="text" class="form-control new" id="nickname" value="${originalNickname}"></td></tr>`);
                    table.append('<tr><th style="color:#198754;">이름</th><td>' + userInfo.name + '</td></tr>');
                    table.append('<tr><th style="color:#198754;">이메일(아이디)</th><td>' + userInfo.email + '</td></tr>');
                    table.append(`<tr><th style="color:#198754;">주소</th><td><input type="text" id="sample4_roadAddress" class="form-control new" value="${originalAddress}" required>` +
                        '<td><input type="button" class=" btn btn-sm btn-outline-success" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"></td>' +
                        '<td><input type="text" style="display:none" id="sample4_jibunAddress" class="new" placeholder="지번주소"></td>' +
                        '<td><input type="text" id="sample4_postcode" placeholder="우편번호" class="new" style="display:none"></td>' +
                        '<td><input type="text" class="hidden" id="sample4_extraAddress" placeholder="참고항목" style="display:none"></td>' +
                        '<td><span id="guide" style="color: #999;" type="hidden" style="display:none"></span></td></tr>');
                    table.append(`<tr><th style="color:#198754;">상세 주소</th><td><input type="text" class="form-control new" id="sample4_detailAddress" value="${originalAddressDetail}"></td></tr>`);
                    table.append('<tr><th style="color:#198754;">생년월일</th><td>' + birth + '</td></tr>');

                    container.append(table);
                    container.append('<div></div><button class="btn btn-success" id="updateSubmitBtn">정보 저장</button><button class="btn btn-secondary" id="cancelBtn">취소</button></div>');
                    $('#mp-content').html(container);
                });

                $('body').on("click", "#updateSubmitBtn", function () {
                    let userEditDto = {
                        "nickname": $('#nickname').val(),
                        "postcode": $('#postcode').val(),
                        "frontAddress": $('#sample4_roadAddress').val(),
                        "addressDetail": $('#sample4_detailAddress').val()
                    };
                    $.ajax({
                        url: `/member/user/updateInfo/${id}`,
                        method: "PATCH",
                        data: JSON.stringify(userEditDto),
                        contentType: "application/json",
                        success: function (response) {
                            if (response.isUpdated === "isUpdated") {
                                alert("정보 수정이 완료되었습니다.");
                                location.reload();
                            }
                        }, error: function () {
                            alert("실패~");
                        }
                    })
                });

                $('body').on("click", "#cancelBtn", function () {
                    $('#myinfoBtn').click();
                });
            }

            //관심상품 버튼
            $('#postlikeBtn').click(function () {
                $.ajax({
                    url: `/member/post-like/${id}`,
                    type: "GET",
                    dataType: "JSON",
                    success: function (response) {
                        let html = "";
                        if (response.length === 0) {
                            html = `<div class=\"user-info-container\">
                                    <h2 class=\"mb-5\" style=\"color:#198754;\"><b>관심 상품</b></h2>
                                    <h3 style='color:#00AB7B;'>관심 상품이 없습니다.</h3>`
                        } else{
                        let i = 1;
                        html = `<div class="post-like-container">
                              <h2 class="mb-3" style="color:#198754;"><b>관심 상품</b></h2>
                              <table class='table table-hover'>
                                <thead>
                                  <tr>
                                    <td> </td>
                                    <td style='color:#198754;'> <b>제목</b> </td>
                                  </tr>
                                </thead>
                                <tbody>
                                `;
                        $.each(response, function (index, item) {
                            html += "<tr>";
                            html += '<th>' + i + '</th>'; // "
                            html += `<td><a href="/view/`+item.postId+`">`+item.title+`</a></td>`;
                            html += "</tr></div>";
                            i++;
                        });
                        }
                        html += "</table>";
                        $('#mp-content').empty();
                        $('.mp-content').html(html);
                    },
                    error: function (error) {
                        alert(JSON.stringify(error));
                    },
                    complete: function () {
                    }
                })
            });

            //내 리뷰 버튼
            $('#myreviewBtn').click(function (){
                $.ajax({
                    url: `/member/myReview/${id}`,
                    method: "GET",
                    data: {id:id},
                    success: function (response){
                        let html = "";
                        if (response.length === 0) {
                            html = `<div class="user-info-container">
                                    <h2 class="mb-5" style="color:#198754;"><b>내 리뷰</b></h2>
                                    <h3 style='color:#00AB7B;'>작성한 리뷰가 없습니다.</h3></div>`
                        } else{
                            let i = 1;
                            html = `<div class="user-info-container">
                              <h2 class="mb-3" style="color:#198754;"><b>내 리뷰</b></h2>
                              <table class='table table-hover'>
                                <thead>
                                  <tr>
                                    <td> </td>
                                    <td style='color:#198754;'> <b>제목</b> </td>
                                    <td style='color:#198754;'> <b>작성일</b> </td>
                                  </tr>
                                </thead>
                                <tbody>
                                `
                            $.each(response, function (index, item) {
                                html += `<tr>
                                            <th style="color:#198754;"> ${i}</th>
                                            <td><a href="/view/${item.postId}">${item.title}</a></td>
                                            <td>${item.createdDate}</td>
                                         </tr>`
                                i++;
                            });
                            html += "</table>";
                        }
                        $('#mp-content').empty();
                        $('.mp-content').html(html);
                    }
                });
            });

            //비밀번호 변경
            $('#changepwBtn').click(function () {
                const email = [[${userInfo.email}]];
                let responseCode;
                if(email.toString().includes("kakao")){
                    alert("카카오 로그인 회원은 카카오 홈페이지에서 비밀번호찾기를 진행해주시기 바랍니다");
                } else{
                    $('#mp-content').empty();
                    mailVerifyingLayout();
                    //이메일 인증메일 보내기
                    $.ajax({
                        url: `/member/emails/verification-request`,
                        type: "POST",
                        async: false,
                        data:{email:email},
                        success: function (response) {
                            responseCode = response;
                        },
                        error: function (error) {
                            alert(JSON.stringify(error));
                        },
                        complete: function () {
                        }
                    });
                }


                //비밀번호 변경 입력
                $('body').on("click", "#checkAuthcodeBtn", function () {
                    if (responseCode === $('#authcode').val()) {
                        $('#mp-content').empty();
                        const container = $('<div>').addClass('password-change-container');
                        const table = $('<table>').addClass('table')
                        table.append(`<tr><th style="color:#198754;">새 비밀번호</th><td><input type="password" class="form-control new" id="newPw"></td></tr>`);
                        table.append(`<tr><th> </th><td><span style="color: #999999;">비밀번호는 8~15자리이고 영문, 숫자, 특수문자([!@#$%^*+=-)를 포함해야 합니다.</span></td></tr>`);
                        table.append(`<tr><th style="color:#198754;">비밀번호 확인</th><td><input type="password" class="form-control new" id="checkNewPw"></td></tr>`);
                        table.append(`<tr><td><span id="confirmPw"></span></td></tr>`);
                        table.append(`<td><button class="btn btn-success" id="changePwSubmitBtn" style="width:100%;">비밀번호 변경</button></td><td><button class="btn btn-secondary" id="cancelBtn">취소</button></td>`);

                        container.append('<h2 class="mb-4" style="color:#198754;"><b>비밀번호 변경</b></h2>');
                        container.append(table);
                        $('#mp-content').html(container);

                        //비밀번호 변경 ajax 통신
                        $('#changePwSubmitBtn').on("click", function () {
                            const pw = $('#newPw').val();
                            const regex = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/;
                            if (regex.test(pw)) {
                                $.ajax({
                                    url: `/member/update-pw/${id}`,
                                    method: "PATCH",
                                    data: {pw: pw},
                                    success: function (response) {
                                        if (response.isUpdated === "isUpdated") {
                                            alert("비밀번호 변경이 완료되었습니다.")
                                            location.reload();
                                        }
                                    },
                                    error: function (error) {
                                        alert(JSON.stringify(error));
                                    },
                                    complete: function () {
                                    }
                                });
                            } else {
                                $('#confirmPw').text('비밀번호는 8~15자리이고 영문, 숫자, 특수문자를 포함해야 합니다.').removeClass('text-success').addClass('text-danger');
                                $('#newPw').focus();
                            }

                        });
                        //취소 버튼 누르면
                        $('body').on("click", "#cancelBtn", function () {
                            $('#myinfoBtn').click();
                        });
                    }else {
                        $('#confirmAuthcode').text("인증코드가 일치하지 않습니다").css('color','red');
                        return false;
                    }
                });
                $('body').on("click", "#cancelBtn", function () {
                    alert("초기화면으로 돌아갑니다.");
                    $('#myinfoBtn').click();
                });
            });

            //회원 탈퇴
            $('#withdrawBtn').click(function () {
                if (confirm("한번 탈퇴하면 동일한 이메일로 재가입할 수 없습니다. 정말 탈퇴하시겠습니까?") === true) {
                } else {
                    return false;
                }
                let responseCode;
                const email = [[${userInfo.email}]];

                $('#mp-content').empty();
                mailVerifyingLayout();
                $.ajax({
                    url: `/member/emails/verification-request`,
                    type: "POST",
                    async: false,
                    data: {email: email},
                    success: function (response) {
                        responseCode = response;
                        mailVerifyingLayout();
                    },
                    error: function (error) {
                        alert(JSON.stringify(error));
                    },
                    complete: function () {
                    }
                });

                $('body').on("click", "#checkAuthcodeBtn", function () {
                    if (responseCode === $('#authcode').val()) {
                        $('#mp-content').empty();
                        const container = $('<div>').addClass('member-withdraw-container');
                        $('#mp-content').html(container);

                        $.ajax({
                            url: `/auth/withdraw/${id}`,
                            type: 'DELETE',
                            success: function (response) {
                                if(response.isDone===1){
                                    container.append("이용해주셔서 감사합니다. 다시 만날 날을 기다리고 있습니다.");
                                    setTimeout(function() {
                                        location.href="/auth/logout"
                                    },2500);
                                }else {
                                    alert("알 수 없는 서버 오류가 발생했습니다. 관리자에게 문의해주시기 바랍니다.");
                                }
                            }
                        });
                    }else {
                        $('#confirmAuthcode').text("인증코드가 일치하지 않습니다").css('color','red');
                        return false;
                    }
                });

            });

            function mailVerifyingLayout() {
                const container = $('<div>').addClass('email-verifying-container');
                container.append('<h2 class="mb-4" style="color:#198754;"><b>이메일 인증</b></h2>');
                container.append('<p class="mb-1">회원님의 이메일로 인증코드 6자리를 보내드렸습니다.</p>');
                container.append('<p class="mb-5">인증코드를 확인하시고 10분 이내에 입력해주시기 바랍니다.</p>');
                container.append('<input type="text" class="form-control mb-1" style="width: 203px;" id="authcode">');
                container.append('<span style="width: 203px;" id="confirmAuthcode"></span>');
                container.append('<p class="mb-5">메일 발송까지 약간의 시간이 소요될 수 있습니다.</p>');
                container.append('<button class="btn btn-success m-1" id="checkAuthcodeBtn">인증하기</button>');
                container.append('<button class="btn btn-secondary" id="cancelBtn">취소</button>');
                $('#mp-content').html(container);
            }
        });
    </script>

    <!-- 프로필사진 변경 스크립트 -->
    <script th:inline="javascript">
        const id = [[${userInfo.id}]];

        $('#editprofilebtn').click(function (e) {
            e.preventDefault();
            $('#editModal').modal("show");
        });

        $('#close').click(function (e) {
            e.preventDefault();
            $('#editModal').modal("hide");
        });
        $("#changeProfile").on("change", function (e) {
            const changeProfile = e.target.files[0];
            if (!changeProfile.type.match("image.*")) {
                alert("이미지 파일만 가능합니다.");
                return false;
            }

            let fileReader = new FileReader();
            fileReader.onload = function (e) {
                $("#preview").attr("src", e.target.result);
            };
            fileReader.readAsDataURL(changeProfile);
        });

        // "저장" 버튼 클릭 시에 Ajax 호출
        $('#saveProfileBtn').on("click", function (e) {
            e.preventDefault();

            const profileForm = $("#changeProfileForm")[0];
            //document.querySelector("#changeProfileForm");
            const formData = new FormData(profileForm);
            $.ajax({
                url: `/member/user/${id}`, // Controller에서 요청 받을 주소
                method: "PATCH", // PATCH 방식으로 전달
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) { // 컨트롤러에서 넘어온 값을 받는다
                    if (response.isUpdated === "isUpdated") { // 1 이면 -> 성공
                        $('#editModal').modal("hide");
                        location.reload();
                    } else { // 0이면 -> 실패
                        alert("프로필 변경 실패~~");
                    }
                },
                error: function () {
                    alert("프로필 변경 실패~~");
                }
            });
        });
    </script>

    <!-- 주소 다음 API -->
    <script>
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample4_postcode').value = data.zonecode;
                    document.getElementById("sample4_roadAddress").value = roadAddr;
                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                    document.getElementById("sample4_detailAddress").value = "";

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if (roadAddr !== '') {
                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("sample4_extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>
</div>
</html>