<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div layout:fragment="content" class="main">
        <div class="container mp-container">
            <div class="mp-sidebar">
                <ul>
                    <li>마이 페이지</li>
                    <li>어서오세요, 찬용씌</li>
                    <span style="border-top: 1px solid #ccc; display: block; margin: 10px 13px;"></span>
                    <li><a>내 정보</a></li>
                    <li><a>관심 제품</a></li>
                    <li><a>내 리뷰</a></li>
                    <li><a>비밀번호 변경</a></li>
                    <li><a>회원 탈퇴</a></li>
                </ul>
            </div>
            <div class="mp-content">
                <!-- 인포 컨텐츠 -->
            </div>
        </div>
    </div>
</html>