<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container" th:fragment="footerFragment" >
    <!-- 페이지 콘텐츠 -->

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <h2>Footer</h2>
    </footer>

    <!-- 메시지 보내기 모달 -->
    <div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sendMessageModalLabel">쪽지 보내기</h5>
                </div>
                <div class="modal-body">
                    <!-- 메시지 폼 -->
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">수신자:</label>
                            <input type="text" class="form-control" id="recipient-name" readonly>
                        </div>
                        <div class="form-group">
                            <label for="message-subject" class="col-form-label">제목:</label>
                            <input type="text" class="form-control" id="message-subject">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">메시지:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-send-message">보내기</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        let memberId;

        document.addEventListener('DOMContentLoaded', function () {
            // 쪽지 보내기 링크에 이벤트 리스너 추가
            document.querySelectorAll('.send-message-link').forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    memberId = this.getAttribute('data-member-id');
                    console.log(memberId);
                    // 수신자 ID를 모달의 hidden input에 설정
                    document.getElementById('recipient-name').value = this.getAttribute('data-member-name');
                    // 모달 표시
                    $('#sendMessageModal').modal('show');
                });
            });
        });
        // document.getElementById('sendMessageModal').querySelector('#btn-send-message').addEventListener('click', function () {
        $('#btn-send-message').on('click', function () {
            const data = {
                title: document.getElementById('message-subject').value,
                content: document.getElementById('message-text').value,
            };

            console.log(data);
            $.ajax({
                url: '/api/message/' + memberId,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    console.log(response);
                    alert('쪽지를 보냈습니다.');
                    $('#sendMessageModal').modal('hide');
                },
                error: function (xhr) {
                    let errorResult = JSON.parse(xhr.responseText);
                    if (errorResult.code === "400") {
                        if (errorResult.validation !== undefined) {
                            if (errorResult.validation.title !== undefined) {
                                document.getElementById('message-subject').placeholder = errorResult.validation.title;
                            }
                            if (errorResult.validation.content !== undefined) {
                                document.getElementById('message-text').placeholder = errorResult.validation.content;
                            }
                        } else {
                            alert(errorResult.message);
                        }
                    } else {
                        console.log(errorResult);
                        alert(errorResult.message);
                    }
                }
            })
        });

    </script>
</div>
</html>