<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">




<div class="container" th:fragment="headerFragment">
    <h2> Header </h2>
</div>
</div>
    <!-- header
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" >
            <img src="/img/flower1.svg">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/board/write" th:href="@{/image/upload}" class="nav-link">upload</a></li>
            <li class="nav-item"><a href="/board/list"  th:href="@{/image/story}" class="nav-link">story</a></li>
            <li class="nav-item"><a href="/board/list"  th:href="@{/image/popular}" class="nav-link">popular</a></li>
            <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item"><a href="/board/join"  th:href="@{/auth/join}" class="nav-link">join</a></li>
                <li class="nav-item"><a href="/board/login" th:href="@{/auth/login}" class="nav-link">login</a></li>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item"><a href="/board/join"  th:href="@{/member/mypage/{id}(id=${#authentication.principal.loggedMember.id})}" class="nav-link">mypage</a></li>
                <li class="nav-item"><a href="/board/login" th:href="@{/auth/logout}" class="nav-link">logout</a></li>
            </th:block>
        </ul>
    </header>
</div>
-->

</html>