<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content" class="main">
    <div id="ca">
        <div id="postContainer" class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div id="searchCondition">
                        <div class="d-flex symptomDiv">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="symptomType" id="symptomType1"
                                       autocomplete="off" checked>
                                <label class="btn btn-symptom" for="symptomType1">전체</label>
                                <div th:each="type : ${T(chathealth.chathealth.entity.post.SymptomType).values()}">
                                    <input type="radio" class="btn-check" th:name="'symptomType'" th:id="${'symptomType' + (type.ordinal() + 2)}"
                                           autocomplete="off" th:value="${type.name()}" />
                                    <label class="btn btn-symptom" th:for="${'symptomType' + (type.ordinal() + 2)}" th:text="${type.symptomName}">Label</label>
                                </div>

                            </div>
                        </div>
                        <!-- 선택 가능한 요소들 (초기에 숨김) -->
                        <div th:each="materialDto, iterStat : ${materials}">
                            <div th:id="'additional-options' + ${iterStat.index + 1}" class="row mt-2 materials" style="display: none;">
                                <div class="col">
                                    <div th:each="materialName, materialStat : ${materialDto.materialName}" class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" th:value="${materialName}"
                                               th:id="${'option' + iterStat.index + materialStat.index}">
                                        <label class="form-check-label" th:for="${'option' + iterStat.index + materialStat.index}" th:text="${materialName}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 검색 조건(제목, 회사) -->
                        <div>
                            <label for="title"></label><input type="text" id="title" name="title" placeholder="상품명">
                            <label for="company"></label><input type="text" id="company" name="company"
                                                                  placeholder="상호명">
                            <!--                        <button id="searchBtn">검색</button>-->
                        </div>
                        <hr>

                        <!-- 글 작성 -->
                        <!-- 승인된 ent만 보이도록함 -->
                        <th:block sec:authorize="hasRole('ROLE_PERMITTED_ENT')">
                            <div class="d-flex justify-content-start">
                                <a href="#" th:href="@{/post/write}" class="btn btn-primary">새 상품 소개하기</a>
                            </div>
                        </th:block>

                        <!-- 정렬 조건 -->
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                             id="target-element">
                            <input type="radio" class="btn-check" name="orderCondition" id="orderCondition1"
                                   autocomplete="off" value="RECENT" checked>
                            <label class="btn btn-orderCondition" for="orderCondition1"><i class="fas fa-check"
                                                                                           style="display: none;"></i>최신순</label>
                            <input type="radio" class="btn-check" name="orderCondition" id="orderCondition2"
                                   autocomplete="off" value="OLD">
                            <label class="btn btn-orderCondition" for="orderCondition2"><i class="fas fa-check"
                                                                                           style="display: none;"></i>오래된순</label>
                            <input type="radio" class="btn-check" name="orderCondition" id="orderCondition3"
                                   autocomplete="off" value="REVIEW">
                            <label class="btn btn-orderCondition" for="orderCondition3"><i class="fas fa-check"
                                                                                           style="display: none;"></i>리뷰순</label>
                            <input type="radio" class="btn-check" name="orderCondition" id="orderCondition4"
                                   autocomplete="off" value="HIT">
                            <label class="btn btn-orderCondition" for="orderCondition4"><i class="fas fa-check"
                                                                                           style="display: none;"></i>조회순</label>
                            <input type="radio" class="btn-check" name="orderCondition" id="orderCondition5"
                                   autocomplete="off" value="LIKE">
                            <label class="btn btn-orderCondition" for="orderCondition5"><i class="fas fa-check"
                                                                                           style="display: none;"></i>관심순</label>
                        </div>
                    </div>

                    <!-- 검색 결과 -->
                    <div id="card-container" class="container">
                        <div class="row">
                            <!-- 이미지 카드가 여기에 들어갑니다 -->
                        </div>
                        <div id="loadingOverlay" class="loading-overlay"></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="right-box" id="best-per-day">
                <h4>일간 최다 조회</h4>
                <!--                게시물 리스트-->
                <div>

                </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="right-box" style="top:500px" id="view-recent">
                <h4>최근 조회</h4>
                <!--    로그인 했을 때만 나타남           게시물 리스트-->
                <div>

                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let materialList = [];

        $(document).ready(function () {
            // 초기 데이터 로드
            loadData(null, null, null, null, null, null, null);
            setTimeZoneAndFormat();


            // 일간 최다 조회
            $.ajax({
                url: "/api/post/best",
                type: "GET",
                // data: {
                // },
                // traditional: true,
                success: function (response) {
                    let html = "";
                    if (response.length === 0) {
                        html += "<h2>일간 조회 게시물이 없습니다.</h2>";
                    }
                    html += "<table class=\"table table-hover\">";
                    $.each(response, function (index, item) {
                        html += "<tr>";
                        html += '<th>' + (index + 1) + '</th>'; // "
                        html += '<td>' + "<a target=\"_blank\" rel=\"noopener noreferrer\" href='/view/" + item.id + "' style='text-decoration: none; color: inherit'>" + item.title + '</a></td>';
                        //조회수 이모티콘 + 조회수
                        html += '<td><i class=\"fa fa-eye text-secondary\"></i>' + item.hitCount + '</td>';
                        // 행 종료: 현재 인덱스가 4의 배수이고 마지막 요소가 아닐 때
                        html += "</tr>";
                    });
                    html += "</table>";
                    $('#best-per-day div').html(html);
                },
                error: function (error) {
                    alert(JSON.stringify(error));
                },
                complete: function () {
                }
            });

            // 최근 조회 로그인 했을 때만 실행
            const isAuth = [[${isAuth}]];
            if(isAuth) {
                $.ajax({
                    url: "/api/post/recent",
                    type: "GET",
                    success: function (response) {
                        let html = "";
                        if (response.length === 0) {
                            html += "<h2>아직 조회한 글이 없습니다.</h2>";
                        }
                        let i = 1;
                        html += "<table class=\"table table-hover\">";
                        $.each(response, function (index, item) {
                            html += "<tr>";
                            html += '<th>' + (index + 1) + '</th>'; // "
                            html += '<td>' + "<a target=\"_blank\" rel=\"noopener noreferrer\" href='/view/" + item.id + "' style='text-decoration: none; color: inherit'>" + item.title + '</a></td>';
                            html += "</tr>";
                        });
                        html += "</table>";
                        $('#view-recent div').html(html);
                    },
                    error: function (error) {
                        alert(JSON.stringify(error));
                    },
                    complete: function () {
                    }
                });
            }
        });

        document.querySelectorAll('.btn-symptom').forEach(function (button) {
            button.addEventListener('click', function () {
                // 모든 버튼에서 'active' 클래스 제거
                document.querySelectorAll('.btn-symptom').forEach(function (btn) {
                    btn.classList.remove('active');
                });

                // 클릭된 버튼에 'active' 클래스 추가
                this.classList.add('active');
            });
        });

        document.querySelectorAll('.btn-orderCondition').forEach(function (button) {
            button.addEventListener('click', function () {
                // 모든 버튼에서 'active' 클래스 제거
                document.querySelectorAll('.btn-orderCondition').forEach(function (btn) {
                    btn.classList.remove('active');
                    btn.querySelector('.fa-check').style.display = 'none';
                });

                // 클릭된 버튼에 'active' 클래스 추가
                this.classList.add('active');
                this.querySelector('.fa-check').style.display = 'inline';
            });
        });

        function loadData(title, company, symptomType, orderCondition, page, size, materialList) {

            if (page === null) {
                page = 0;
            }
            if (size === null) {
                size = 20;
            }

            if (materialList === []) {
                materialList = null;
            }

            $('#card-container #loadingOverlay').show(); // 로딩 오버레이 표시
            $.ajax({
                url: "/api/post",
                type: "GET",
                data: {
                    "title": title,
                    "company": company,
                    "symptomType": symptomType,
                    "materialName": materialList,
                    "ordercondition": orderCondition,
                    "page": page,
                    "size": size
                },
                traditional: true,
                success: function (response) {
                    let totalPage = 0;
                    let html = "";
                    if (response.length === 0) {
                        html += "<h2>검색 결과가 없습니다.</h2>";
                    } else {
                        html += "<h2>검색 결과 : " + response[0].count + "건</h2>";
                        totalPage = Math.floor(response[0].count / size + 1);
                    }
                    $.each(response, function (index, item) {
                        if (item.representativeImg === null) {
                            item.representativeImg = "/img/basic_post.svg";
                        }
                        if (index % 4 === 0) {
                            html += "<div class='row'>";
                        }
                        // 카드 생성

                        html += '<div class="col-lg-3 col-sm-6 mb-4">';
                        html += '    <div class="card h-100 shadow-sm bg-light"> <!-- Original background color -->';
                        html += '        <a target="_blank" rel="noopener noreferrer" href="'+ "view/" + item.id + '" style="text-decoration: none; color: inherit;">';
                        html += '            <img src="/profile/' + item.representativeImg + '" class="card-img-top rounded" alt="Image of ' + item.title + '" onError="this.onerror=null; this.src=\'/img/basic_post.svg\'" style="height: 193px; object-fit: cover;">';
                        html += '            <h5 class="card-title font-weight-bold text-center" style="margin-top: 10px;">' + item.title + '</h5>';
                        html += '        </a>';
                        html += '        <div class="card-body">';
                        html += '            <div class="d-flex justify-content-between align-items-center mb-2">';
                        html += '                <span><i class="fa fa-eye text-secondary"></i> ' + item.hitCount + '</span>';
                        html += '                <span><i class="fa fa-heart text-danger"></i> ' + item.likeCount + '</span>';
                        html += '            </div>';
                        html += '            <p class="card-text"><span class="text-secondary">' + item.company + '</span></p>';
                        html += '        </div>';
                        html += '        <div class="card-footer bg-white">';
                        html += '           <span><i class="fas fa-pen"></i> ' + item.reviewCount + '</span>';
                        html += '            <span class="card-text text-muted small text-right format-date">' + item.createdAt + '</span>';
                        html += '        </div>';
                        html += '    </div>';
                        html += '</div>';


                        // 행 종료: 현재 인덱스가 4의 배수이고 마지막 요소가 아닐 때
                        if (index % 4 === 3 && index !== response.length - 1) {
                            html += '</div>'; // 행 종료
                        }
                    });
                    if (response.length % 4 !== 0) {
                        html += '</div>'; // 마지막 행 종료
                    }

                    // 페이지네이션 생성
                    if (response.length !== 0) {
                        html += createPagination(page, totalPage);
                    }
                    // $('#card-container').html(html);
                    $('#card-container').html(html).hide().fadeIn(1000, function () {
                        $('#loadingOverlay').hide(); // fadeIn 완료 후 로딩 오버레이 숨김
                    });
                },
                error: function (error) {
                    alert(JSON.stringify(error));
                    $('#loadingOverlay').hide(); // 에러 발생 시 오버레이 숨기기
                },
                complete: function () {
                    $('#loadingOverlay').hide(); // complete에서는 숨기기
                    setTimeZoneAndFormat();

                }
            });
        }

        $(document).on('click', '.pagination .page-link', function (e) {
            e.preventDefault();
            let page = $(this).attr('value'); // 페이지 번호 추출

            document.getElementById('target-element').scrollIntoView({
                behavior: 'smooth'
            });

            // 현재 검색 조건 가져오기
            let symptomType = $("input[name='symptomType']:checked").val();
            if (symptomType === "on") {
                symptomType = null;
            }
            let orderCondition = $("input[name='orderCondition']:checked").val();
            let title = $('#title').val();
            let company = $('#company').val();

            // 페이지 데이터 로드
            loadData(title, company, symptomType, orderCondition, page, null, materialList);
            setTimeZoneAndFormat();
        });

        $('#searchCondition').on('change', function () {
            search();
        });

        //검색어 입력 후 1초 동안 입력 없으면 검색
        function setupTypingTimer(selector, callback, delay) {
            let typingTimer;

            $(selector).on('keyup', function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(callback, delay);
            });
        }

        setupTypingTimer('#title', search, 500);
        setupTypingTimer('#company', search, 500);


        function search() {
            let symptomType = $("input[name='symptomType']:checked").val();
            if (symptomType === "on") {
                symptomType = null;
            }
            let orderCondition = $("input[name='orderCondition']:checked").val();
            let title = $('#title').val();
            let company = $('#company').val();

            //체크 표시된 재료들을 materialList에 추가
            let materials = document.getElementsByClassName('materials');
            Array.from(materials).forEach(function (element) {
                let materialCheckboxes = element.querySelectorAll('input[type="checkbox"]:checked');
                Array.from(materialCheckboxes).forEach(function (checkbox) {
                    materialList.push(checkbox.value);
                });
            });
            // 초기 데이터 로드
            loadData(title, company, symptomType, orderCondition, null, null, materialList);
            setTimeZoneAndFormat();

        }

        function createPagination(currentPage, totalPages) {
            currentPage = parseInt(currentPage);
            let lastPage = parseInt(totalPages) - 1;
            let html = '<nav aria-label="Page navigation example">';
            html += '<ul class="pagination justify-content-center">';

            // 페이지 번호 생성 (10페이지 단위)
            let startPage = Math.floor(currentPage / 10) * 10;
            let endPage = Math.min(startPage + 9, lastPage);

            // Previous 버튼 활성화/비활성화
            let isPreviousDisabled = currentPage < 10 ? 'disabled' : '';
            let previousPage = startPage - 1;
            html += '<li class="page-item ' + isPreviousDisabled + '">';
            html += '<button class="page-link" name="page" value="' + previousPage + '">Previous</button></li>';


            for (let i = startPage; i <= endPage; i++) {
                let isActive = i === currentPage ? 'active' : '';
                html += '<li class="page-item ' + isActive + '">';
                html += '<button class="page-link" name="page" value="' + i + '">' + (i + 1) + '</button></li>';
            }

            // Next 버튼 활성화/비활성화
            let lastPageGroupStart = Math.floor((lastPage - 1) / 10) * 10;
            let isNextDisabled = currentPage >= lastPageGroupStart ? 'disabled' : '';
            let nextPage = endPage + 1;
            html += '<li class="page-item ' + isNextDisabled + '">';
            html += '<button class="page-link" name="page" value="' + nextPage + '">Next</button></li>';

            html += '</ul></nav>';
            return html;
        }

        document.getElementById('symptomType1').addEventListener('click', function () {
            let materials = document.getElementsByClassName('materials');
            // 체크 박스에 있는 요소들 unchecked, materialList 초기화
            materialList = [];
            $('.materials input[type="checkbox"]').prop('checked', false);

            Array.from(materials).forEach(function (element) {
                element.style.display = 'none'; // 모든 materials 요소를 숨김
            });
        });

        for (let i = 2; i <= 11; i++) { // i의 범위는 필요한 만큼 조정
            document.getElementById('symptomType' + i).addEventListener('click', function () {
                let materials = document.getElementsByClassName('materials');
                //체크 박스에 있는 요소들 unchecked, materialList 초기화
                materialList = [];
                $('.materials input[type="checkbox"]').prop('checked', false);

                Array.from(materials).forEach(function (element) {
                    element.style.display = 'none'; // 모든 materials 요소를 숨김
                });

                let additionalOptions = document.getElementById('additional-options' + (i - 1));
                if (this.checked) {
                    additionalOptions.style.display = 'flex'; // Flexbox를 사용하여 가로로 표시
                } else {
                    additionalOptions.style.display = 'none';
                }
            });
        }
        // checkbox check 해제 시 materialList 초기화
        $('.materials input[type="checkbox"]').on('change', function () {
            materialList = [];
        });
    </script>
</div>
</html>