<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content" class="main">
    <div class="container">
        <!-- Main content area with Swiper -->
        <main>
            <div class="justify-content-center row">
                <!-- 로고 이미지 -->
                <div class="col-md-6 text-center">
                    <img src="/img/logo.png" alt="logo" style="max-height: 150px;"> <!-- 높이 제한 수정 -->
                    <p>SLOGAN</p>
                </div>
                <div class="col-md-6" id="login-status">
                    <th:block class="bg-ygr" sec:authorize="!isAuthenticated()">
                        <a href="/auth/login" class="text-ygr btn">
                            <img src="/img/logo.png" alt="logo" style="max-height: 150px;"> <!-- 높이 제한 수정 -->
                            <p>로그인 하러 가기</p>
                        </a>
                    </th:block>
                    <th:block class="bg-ygr" sec:authorize="isAuthenticated()">
                        <div class="user-info-card"> <!-- 카드 스타일의 컨테이너 -->
                            <div class="card-body">
                                <div class="user-profile row">
                                    <div class="col-auto">
                                        <img th:src="@{|/profile/${member.profile}|}" alt="프로필 이미지" class="profile-image"
                                             onerror="this.src='/img/basic_user.png'">
                                    </div>
                                    <div class="col-auto">
                                        <h2 th:text="${member.role}"></h2>
                                        <th:block sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                                            <ul class="user-details">
                                                <li><strong>권한:</strong> <span th:text="${member.role.role}"></span>
                                                </li>
                                                <li th:if="${member.nickname != null}"><strong>nickname:</strong>
                                                    <span th:text="${member.nickname}"></span></li>
                                                <!--                                                <li><strong>등급:</strong> <span th:text="${member.grade}"></span></li>-->
                                                <li th:if="${member.grade.name() == 'BRONZE'}">
                                                    <i class="fa fa-medal text-bronze"></i>
                                                </li>
                                                <li th:if="${member.grade.name() == 'BLCAK'}">
                                                    <i class="fa fa-medal text-black"></i>
                                                </li>
                                                <li th:if="${member.grade.name() == 'SILVER'}">
                                                    <i class="fa fa-medal text-silver"></i>
                                                </li>
                                                <li th:if="${member.grade.name() == 'GOLD'}">
                                                    <i class="fa fa-medal text-gold"></i>
                                                </li>
                                                <li th:if="${member.grade.name() == 'PLATINUM'}">
                                                    <i class="fa fa-medal text-platinum"></i>
                                                </li>
                                                <li th:if="${member.grade.name() == 'DIAMOND'}">
                                                    <i class="fa fa-medal text-diamond"></i>
                                                </li>
                                                <!-- 기타 정보 -->
                                            </ul>
                                        </th:block>
                                        <th:block
                                                sec:authorize="hasAnyRole('ROLE_WATING_ENT', 'ROLE_REJECTED_ENT', 'ROLE_PERMITTED_ENT')">
                                            <ul class="user-details">
                                                <li><strong>상태:</strong> <span th:text="${member.role.role}">사업자</span>
                                                </li>
                                                <li><strong>company:</strong> <span th:text="${member.company}"></span>
                                                </li>
                                                <li><strong>ceo:</strong> <span th:text="${member.ceo}"></span></li>
                                                <!-- 기타 정보 -->
                                            </ul>
                                        </th:block>
                                    </div>
                                </div>
                                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{|/member/user/${#authentication.principal.loggedMember.id}|}" class="btn btn-primary" style="width:100%">내정보 보기</a>
                                <a sec:authorize="hasAnyRole('ROLE_WAITING_ENT','ROLE_PERMITTED_ENT','ROLE_REJECTED_ENT')" th:href="@{|/member/ent/${#authentication.principal.loggedMember.id}|}" class="btn btn-primary" style="width:100%">내정보 보기</a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/member/admin}" class="btn btn-primary" style="width:100%">관리 페이지</a>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div id="best-per-day">
                        <div class="d-flex">
                            <h4>일간 최다 조회 상품</h4>
                            <a href="/post" class="btn btn-sm more-button">더보기</a> <!-- "더보기" 버튼 -->
                        </div>
                        <!-- 게시물 리스트 -->
                        <div class="contents"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="best-per-week">
                        <div class="d-flex">
                            <h4>주간 최다 조회 상품</h4>
                            <a href="/post" class="btn btn-sm more-button">더보기</a> <!-- "더보기" 버튼 -->
                        </div>
                        <!-- 게시물 리스트 -->
                        <div class="contents"></div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div id="free-board">
                        <div class="d-flex">
                            <h4>최신글</h4>
                            <a href="/board" class="btn btn-sm more-button">더보기</a> <!-- "더보기" 버튼 -->
                        </div>
                        <!-- 게시물 리스트 -->
                        <div class="contents"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="notice-board">
                        <div class="d-flex">
                            <h4>공지사항</h4>
                            <a href="/board?category=NOTICE" class="btn btn-sm more-button">더보기</a> <!-- "더보기" 버튼 -->
                        </div>
                        <!-- 게시물 리스트 -->
                        <div class="contents"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            // 일간 최다 조회
            $.ajax({
                url: "/api/post/best",
                type: "GET",
                success: function (response) {
                    let html = "";
                    if (response.length === 0) {
                        html += "<h2>일간 조회 게시물이 없습니다.</h2>";
                    }
                    let i = 1;
                    html += "<table class=\"table table-hover\">";
                    $.each(response, function (index, item) {
                        html += "<tr>";
                        html += '<th>' + i + '</th>';
                        html += '<td><img src="/profile/' + item.representativeImg + '" class="card-img-top rounded" alt="Image of ' + item.title + '" onError="this.onerror=null; this.src=\'/img/basic_post.svg\'" style="height: 50px; width: 50px; object-fit: cover;"></th>';
                        html += '<td>' + "<a href='/view/" + item.id + "' style='text-decoration: none; color: inherit'>" + item.title + '</a></td>';
                        //조회수 이모티콘 + 조회수
                        html += '<td><i class=\"fa fa-eye text-secondary\"></i>' + item.hitCount + '</td>';
                        // 행 종료: 현재 인덱스가 4의 배수이고 마지막 요소가 아닐 때
                        html += "</tr>";
                        i++;
                    });
                    html += "</table>";
                    $('#best-per-day .contents').html(html);
                },
                error: function (error) {
                    alert(JSON.stringify(error));
                },
                complete: function () {
                }
            });

            $.ajax({
                url: "/api/post/best-week",
                type: "GET",
                success: function (response) {
                    let html = "";
                    if (response.length === 0) {
                        html += "<h2>주간 조회 게시물이 없습니다.</h2>";
                    }
                    let i = 1;
                    html += "<table class=\"table table-hover\">";
                    $.each(response, function (index, item) {
                        html += "<tr>";
                        html += '<th>' + i + '</th>'; // "
                        html += `<td><img src='/profile/${item.representativeImg}' class="card-img-top rounded" alt="Image of ${item.title}" onError="this.onerror=null; this.src='/img/basic_post.svg'" style="height: 50px; width: 50px; object-fit: cover;"></td>`;

                        html += '<td>' + "<a href='/view/" + item.id + "' style='text-decoration: none; color: inherit'>" + item.title + '</a></td>';
                        //조회수 이모티콘 + 조회수
                        html += '<td><i class=\"fa fa-eye text-secondary\"></i>' + item.hitCount + '</td>';
                        html += "</tr>";
                        i++;
                    });
                    html += "</table>";
                    $('#best-per-week .contents').html(html);
                },
                error: function (error) {
                    alert(JSON.stringify(error));
                },
                complete: function () {
                }
            });

            $.ajax({
                url: "/board/api/recent",
                type: "GET",
                data: {
                },
                success: function (response) {
                    let html = "";
                    if (response.length === 0) {
                        html += "<h2>게시판 글이 없습니다</h2>";
                    }
                    let i = 1;
                    html += "<table class=\"table table-hover\">";
                    $.each(response, function (index, item) {
                        html += "<tr>";
                        html += '<th>' + i + '</th><td>';
                        switch (item.category) {
                            case "FREE":
                                html += '<span class="badge bg-danger">자유</span>';
                                break;
                            case "TIP":
                                html += '<span class="badge bg-warning">팁</span>';
                                break;
                            case "QNA":
                                html += '<span class="badge bg-success">질문</span>';
                                break;
                            case "INFO":
                                html += '<span class="badge bg-info">정보</span>';
                                break;
                            default:
                                html += '<span class="badge">기타</span>';
                                break;
                        }
                        html += "<a href='/board/" + item.boardId + "' style='text-decoration: none; color: inherit'>" + item.title + "</a></td>";

                        html += "</tr>";
                        i++;
                    });
                    html += "</table>";
                    $('#free-board .contents').html(html);
                },
                error: function (error) {
                    alert(JSON.stringify(error));
                },
                complete: function () {
                }
            });

            $.ajax({
                url: "/board/api/recent",
                type: "GET",
                data: {
                    "category": "NOTICE"
                },
                success: function (response) {
                    let html = "";
                    if (response.length === 0) {
                        html += "<h2>공지가 없습니다</h2>";
                    }
                    let i = 1;
                    html += "<table class=\"table table-hover\">";
                    $.each(response, function (index, item) {
                        html += "<tr>";
                        html += '<th>' + i + '</th>'; // "
                        html += '<td>';
                        html += "<a href='/board/" + item.boardId + "' style='text-decoration: none; color: inherit'>" + item.title + "</a></td>";
                        html += "</tr>";
                        i++;
                    });
                    html += "</table>";
                    $('#notice-board .contents').html(html);
                },
                error: function (error) {
                    alert(JSON.stringify(error));
                },
                complete: function () {
                }
            });
        });
    </script>
</div>
</html>