<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/layout.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<!--<form action="/todo/write" method="post">-->
<span>black</span>
<div style="background-color:skyblue">
    <input type="text" name="re_title" class="re_title" id="re_title"/>
    <textarea name="re_content" class="re_content" id="re_content"></textarea>
    <button type="submit" class="re_insertBtn">추가</button>
</div>
<!--</form>-->
<div class="todoContainer">

</div>
<button class="selectBtn" onclick="select()">123</button>


<script th:inline="javascript">
    // createTodo();

    function createTodo(){
        $.ajax({
            url: "/todo/read",

            success: function (data) {
                // console.log(data)
                let ht="";
                $.each(data,function (key,val){
                    ht+=`
                    <div class="box" data-num="${val.num}" data-title="${val.title}" data-content="${val.content}" data-reg="${val.regDate}">
                        <ul >
                            <li> ${val.title}</li>
                            <li>${val.content}</li>
                            <li>${val.regDate}</li>
                        </ul>

                        <button type="button" class="deleteBtn">삭제</button>
                        <button type="button" class="modifyBtn" >수정</button>
                        <hr>
                    </div>`;
                })
                $(".todoContainer").html(ht);

            }
            ,error(error){
                console.log("error")
            }
        })
    }
    <!--글작성-->
    $(".insertBtn").on("click",function (){
        $.ajax({
            url:"/todo/write",
            method:"POST",
            data:{
                title: $(".title").val(),
                content: $(".content").val(),
            },
            success:function (){
                createTodo();
                $(".title").val("");
                $(".content").val("");
            },error(error) {
                console.log("error")
            }
        })
    })
    //글 삭제
    $("body").on("click",".deleteBtn",function (){
        let par = (this).closest(".box");
        let num = par.dataset.num;
        console.log(num);
        $.ajax({
            url:`/todo/delete/${num}`,
            method: "DELETE",
            success:function (response){
                if(response.delete==="ok"){
                    console.log("삭제 성공")
                    createTodo();
                }

            }
        })
    })
    //글 수정
    $("body").on("click",".modifyBtn",function (){
        let par = (this).closest(".box");
        let num = par.dataset.num;
        let title= par.dataset.title;
        let content=par.dataset.content;
        let reg=par.dataset.reg;

        let ht = `<ul>
                            <li><input class="modTitle" value="${title}"/></li>
                            <li><input class="modContent" value="${content}"/></li>
                            <li>${reg}</li>
                   </ul>
                     <button type="button" class="deleteBtn">삭제</button>
                     <button type="submit" class="endBtn" >수정완료</button>
                   <hr>`;
        (this).closest(".box").innerHTML=ht;
    })
    //글 수정 완료
    $("body").on("click",".endBtn",function () {
        let par = $(this).closest(".box");
        let num = parseInt(par.data("num"));
        let title=$(".todoContainer").find(".modTitle").val();
        console.log(title);
        console.log(num)
        let content=$(".todoContainer").find(".modContent").val();
        console.log(content);
        $.ajax({
            url:"/todo/modify",
            method:"POST",
            data:{
                num:num,
                title:title,
                content:content
            },
            success:function (response){
                if (response.success==="ok"){
                    createTodo();
                }
            }
        })


    })
</script>


</body>
</html>

